

<div id="posts" class="text-center">
<h1>About</h1>

<p>
  Seventh Circle Music Collective is a DIY music venue and arts space in Denver, CO. 
</p>


<p>
  We've been operating in this space since the fall of 2012 after Aaron Saye took over the lease from our friends at Blast-O-Mat.
</p>

<p>
The space at 2935 W 7th has been a staple of the DIY music scene in Denver for nearly 20 years and we hope to proudly continue that legacy for many years to come.
</p>

<p>
This page contains the sum total of all Seventh Circle knowledge, history and trivia. As well as FAQs and good info for bands and members.
</p>
</div>
