 <html>
<head>
<style>
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
</style>
</head>
<body>

<footer>
  <p>Perry<br>
  <a href="froelichperry1@gmail.com">froelichperry1@gmail.com</a></p>
</footer>

</body>
</html> 