<nav class="navbar">
  <div class="navbar-container">
    <!-- Navbar Links -->
    <div class="navbar-links">
      <ul>
        <li><a href="/posts/">Shows</a></li>
        <li><a href="/home/about">About</a></li>
        <li><a href="/home/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
